<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Renato Siqueira</a>
            </li>
            <li class="pure-menu-item"><a href="https://www.linkedin.com/in/renatosiqueira/"
                    class="pure-menu-link">Linkedin</a></li>
            <li class="pure-menu-item"><a href="https://github.com/RenatoSiqueira/NodeJS_Pokedex"
                    class="pure-menu-link">GitHub</a></li>
        </ul>
    </div>
</div>
</div>


</div>
</div>


</body>

</html>